<a href="https://colab.research.google.com/github/ch3rnoalpha/Sales_predictions---john-paredes/blob/main/Project_core_1_John_paredes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project core 2

John paredes

In [198]:
#imports drive and mounts it
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [199]:
#imports pandas as 'pd'
import pandas as pd

In [200]:
#sets filepath as file name and creates dataframe
filename = '/content/drive/MyDrive/CodingDojo/Data files/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [201]:
#shows the shape of the dataframe
df.shape

(8523, 12)

In [202]:
#shows data types
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [203]:
#drops duplicates
df.drop_duplicates(subset =["Item_Identifier"], keep ='last', inplace = True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
927,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
1155,FDO33,14.750,Low Fat,0.089686,Snack Foods,115.3518,OUT018,2009,Medium,Tier 3,Supermarket Type2,1821.6288
1271,FDY43,14.850,Low Fat,0.098803,Fruits and Vegetables,169.7474,OUT018,2009,Medium,Tier 3,Supermarket Type2,673.7896
1349,FDY58,11.650,Low Fat,0.039981,Snack Foods,227.3694,OUT049,1999,Medium,Tier 1,Supermarket Type1,4567.3880
1567,FDR03,15.700,Regular,0.008734,Meat,207.8980,OUT035,2004,Small,Tier 2,Supermarket Type1,3095.9700
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [204]:
#shows thats null
df.isnull().sum()

Item_Identifier                0
Item_Weight                  286
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  414
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [205]:
#fills missing data with mean for integer based colum, then verifys it was filled
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace = True)
print(df.isnull().sum())

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  414
Outlet_Location_Type           0
Outlet_Type                    0
Item_Outlet_Sales              0
dtype: int64

In [206]:
#shows unique values for outlet size column
df['Outlet_Size'].unique()

array(['Medium', 'Small', nan, 'High'], dtype=object)

In [ ]:
#fills missing strings with new catagory then verifys data is filled
df['Outlet_Size'].fillna(('unknown'), inplace = True)
print(df.isnull().sum())

In [ ]:
#shows sum of unique values per column
df.nunique()

In [ ]:
#shows datatypes of all comuns
df.dtypes

In [ ]:
#Goes through data. setting all strings to lwolercase to get rid of inconsistent categories of data
for col in df.columns:
  if df[col].dtypes == object:
    df[col] = df[col].str.lower()
df

In [ ]:
#prints info on colums that are numerical (float or int)
for col in df.columns:
  if df[col].dtypes == float or  df[col].dtypes == int:
    print(df[col].describe())